<div class="container">
  <p><%= @user.username %></p>
  <div class="user-profile">
    <% if @user.remote_avatar != nil %>
      <p><%= link_to image_tag(@user.remote_avatar , alt: @user.username), user_path(@user) %></p>
    <% else %>
      <p><%= link_to image_tag(@user.avatar.url , alt: @user.username), user_path(@user) %></p>
    <% end %>
  </div>
</div>