<div class="container">
  <h1>座談会ズ</h1>
  <div>
    <% if @project.conferences.present? %>
      <% @project.conferences.each do |conference| %>
        <%= link_to conference.title, project_conference_path(@project, conference) %>
      <% end %>
    <% end %>
  </div>
</div>