// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* project items */

.edit-project {
  border-radius: 10px 5px;
  box-shadow: 1px 2px 3px #444;
  background-color: white;
  padding: 20px;
}

.item-box {
  width: 320px;
  margin: 15px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 320px;
    height: 320px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 320px;
      height: 320px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
  .detail {
    height: 55px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .title {
      margin: 0;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .action {
    form {
      float: left;
      margin: 0 3px 0 0;
    }
  }
  &:hover {
    .action {
      display: block;
    }
  }
}
.item-single-main {
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  float: left;
  .image {
    width: 400px;
    height: 400px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 400px;
      height: 400px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 380px;
      }
    }
  }
  .title {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &:hover {
    .action {
      display: block;
    }
  }
}

.item-box-mini {
  width: 200px;
  margin: 10px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 200px;
    height: 200px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 200px;
      height: 200px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 170px;
        max-width: 170px;
      }
    }
  }
  .detail {
    height: 55px;
    padding: 2px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .title {
      margin: 0;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .action {
    form {
      float: left;
      margin: 0 3px 0 0;
    }
  }
  &:hover {
    .action {
      display: block;
    }
  }
}
.item-single-main {
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  float: left;
  .image {
    width: 400px;
    height: 400px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 400px;
      height: 400px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 380px;
      }
    }
  }
  .title {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &:hover {
    .action {
      display: block;
    }
  }
}

.action {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  .btn {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .btn-sm {
    margin: 0 5px 0 0;
  }
  .want {
    &:before {
      content: "Want";
    }
  }
  .have {
    &:before {
      content: "Have";
    }
  }
  .wanted {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Wanted";
    }
  }
  .haved {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Haved";
    }
  }
}

.item-single-side {
  width: 500px;
  float: right;
  .side-box {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    .side-box-title {
      margin: 0;
      padding: 10px 15px;
      font-weight: normal;
      background: #fafafa;
      border: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .side-box-body {
      padding: 15px;
      .gravatar {
        img {
          margin: 2px;
        }
      }
    }
  }
.rank_title {
  position: absolute;
  top: 10px;
  left: 10px;
  }
}

.project-button {
  margin: 10px;
}

#video {
  display: block;
  width: 512px;
  height: 312px;
}

// youtube responsive
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 630px;
  max-height: 354px;
}

/* search */
.search {
  width: 250px;
}

.searchBtn {
  float: right;
}
.form-control-inline {
width:auto;
display:inline-block;
width: 174px;
}


.form-inline {
  display: inline;
}

/* 実験 */
.search {
    width: 100%;
    height: 100%;
    padding: 18px 0;
    background-color: #FFF;
}
.search__icons {
    padding-left: 15px;
    text-align: center;
}

.search__item {
    display: inline;
    margin: 0 5px;
}
.btn.btn-post {
    color: #ffffff;
    font-weight: bold;
    background-color: #40CA82;
}
.search__item_select {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
}

#search__item_select {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
}
.form__search {
    display: inline;
}
#keyword {
    background-color: white;
    border-radius: 10px;
    outline: none;
    padding: 0 50px 0 20px;
    width: 200px;
}
.form__search .form__search-icon {
    position: relative;
    background-image: url(/images/find50.png);
    right: 45px;
    height: 15px;
    outline: none;
}
